.work-section {
    height: 100vh;
    position: relative;
    padding: 140px 100px 0 100px;
}

.work-section .work-content {
    height: 100%;
    width: 100%;
}
.work-content h2 {
    font-family: "Jetbrains Mono", monospace;
    font-size: 44px;
    font-weight: 400;
    padding: 40px 0 60px 0;
}